.about-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .about {
    width: 40%;

    a {
      color: $link_color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}