.index-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  padding-bottom: 25vh;

  .entry-date {
    white-space: nowrap;
    padding-right: 2vw;
    color: lightgray;
    font-family: "Raleway", sans-serif;
    align-self: right;
    font-size: 1.2rem;
  }

  .detailed-entry-container {
    width: 33%;
    padding-bottom: 50px;
    min-width: 500px;

    .title-date {
      display: flex;
      justify-content: space-between;
    }

    .entry-title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .entry-short-text {
      color: gray;
    }
  }

  .detailed-entry-container:hover, .short-entry-container:hover {
    cursor: pointer;

    .entry-title {
      color: blue;
    }
  }

  .short-entry-container {
    width: 33%;
    min-width: 500px;
    display: flex;
    line-height: 1.5;
    padding-bottom: 2vh;

    .entry-date {
      color: gray;
      width: 30px;
      font-size: 0.9rem;
    }
  }

  .year {
    justify-self: flex-start;
    padding: 2vh 0;
    color: gray;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
}