@import "../../../node_modules/highlight.js/styles/tomorrow.css";

$link_color: blue;

@import "app/about";
@import "app/form";
@import "app/author";
@import "app/index";
@import "app/navbar";
@import "app/entry";
@import "app/tags";

body {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  text-decoration: none;
}

//@import "rand/cube";
@import "rand/ernstKeller";
@import "rand/louisRoeschCo";
@import "rand/tiles";