.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;

  .explanation {
    width: 40%;
    padding: 5vh 0;
    display: flex;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
  }

  .form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .text-field-container {
      padding: 2vh 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-title {
        color: plum;
        padding: 2px 0;
      }

      input, textarea {
        width: 100%;
        font-family: "Nunito Sans", sans-serif;
        border: 1px solid lightgray;
        color: black;
      }

      input {font-size: 1.1rem;}

      textarea {font-size: 0.9rem;}

      textarea:focus, input:focus {
        outline: none;
        border: 1px solid lightblue;
      }

      textarea.shorttext {height: 100px;}

      textarea.text {height: 300px;}

      .checkbox-container {
        display: flex;
        align-items: baseline;

        .form-title {
          min-width: 80px;
        }
      }
    }

    .submit-button {
      padding: 5vh 0;
    }
  }
}